body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #be3144;
}
.nav-list {
    display: flex;
    font-style: none;
    list-style: none;
    margin-right: 3rem;
}
li {
    text-align: match-parent;
}
a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
.welcome-section {
    text-align: center;
    width: 100%;
    height: 78vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin-top: 300px;
}
.welcome-section p {
    font-size: 2rem;
    font-style: italic;
    color: red;
    margin-bottom: 200px;
}
.projects-sections{
    height: 1000px;
    width: 1445px;
    text-align: center;
    padding: 10rem 2rem;
    background: rgb(56, 56, 108);
}
.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid rgb(255, 255, 255);
}
.projects-grid {
    width: 100%;
    height: 2000px;
    margin-bottom: 6rem;
    margin-bottom: 500px;
}
.btn{
    height: 50px;
    width: 150px;
    background-color: #3a3d40;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.btn:hover{
    background-color: #be3144;
}
.all p{
    font-size: 20px;
}
.all{
    text-align: center;
}
button{
    background-color: #3a3d40;
    width: 200px;
    border: none;
    cursor: pointer;
}
i{
    color: rgb(255, 255, 255);
}
.co{
    margin-left: 200px;
}
article{
    border-bottom: 0.2rem solid #be3144;
    margin-top: 200px;
}
.c11{
    font-size: 20px;
    margin-left: 100px;
}
.co{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
div {
  
   flex-wrap: wrap;
}
.c3{
    font-size: 13px;
    
}
.c2{
    justify-content: center;
}
.c1{
    justify-content: center;
}
section{
    font-size: 13px;
}
p{
    height: 20px;
    width: 190px;
}
h2{
    font-size: 18px;
}
h1{
    height: 20px;
    width: 200px;
}



  }